@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
  --color-aqua: #33c2cc;
  --color-mint: #57db96;
  --color-royal: #5c33cc;
  --color-lavender: #7a57db;
  --color-fuchsia: #ca2f8c;
  --color-orange: #cc6033;
  --color-sand: #d6995c;
  --color-coral: #ea4884;
  --animate-orbit: orbit 50s linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee-vertical: marquee-vertical 50s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #030412;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.c-space {
  @apply px-5 sm:px-10 lg:px-15;
}

.hover-animation {
  @apply duration-200 hover:translate-y-1;
}

.section-spacing {
  @apply mt-20 min-h-screen md:mt-30;
}

.text-heading {
  @apply text-3xl font-bold md:text-4xl;
}

.headtext {
  @apply mt-2 mb-2 text-xl;
}

.subtext {
  @apply text-sm text-pretty text-neutral-400 md:text-base;
}

/* button components */
.btn {
  @apply bg-primary relative w-[12rem] cursor-pointer overflow-hidden px-1 py-4 text-center text-sm font-extralight;
}

/* about section */
.grid-1 {
  @apply relative row-span-2 h-[15rem] overflow-hidden duration-200 hover:-translate-y-1 md:col-span-3 md:h-full;
}

.grid-2 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200 hover:-translate-y-1 md:col-span-3 md:h-full;
}

.grid-3 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200 hover:-translate-y-1 md:col-span-3 md:h-full;
}

.grid-4 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200 hover:-translate-y-1 md:col-span-2 md:h-full;
}

.grid-2 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200 hover:-translate-y-1 md:col-span-4 md:h-full;
}

.grid-default-color {
  @apply from-storm to-indigo bg-gradient-to-b p-6;
}

.grid-special-color {
  @apply from-royal to-lavender bg-gradient-to-b p-6;
}

.grid-black-color {
  @apply bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] p-6;
}
